@extends("base.html")
@require(path_for, stats)

@def content():
    <title>My Scores</title>

    <header>
        <div class="header-area">
            <h1 class="home-btn" onclick="location.href='/home'">Home</h1>
            <button class="logout-btn" id="home-login-btns" onclick="location.href='/logout'" style="margin: 20px auto;">Logout</button>
        </div>
        <hr>
    </header>

        <table id="score-table">
            <tr>
                <td><b>Score</b></td>
                <td><b>Time</b></td>
            </tr>
            @for stat in stats:
                <tr>
                    <td>@str(stat[0])</td>
                    <td>@str(stat[1])</td>
                </tr>
            @endfor
        </table>
@end