@extends("base.html")
@require(path_for, login, score, stats)

@def content():
    <link rel="stylesheet" href="@path_for('static',path='snake_style.css')">
    <title>Snake</title>
    <script src="@path_for('static',path='snake_script.js')" defer></script>

    <header>
        <div class="header-area">
            <h1 class="home-btn" onclick="location.href='/home'">Home</h1>
            <button class="logout-btn" id="home-login-btns" onclick="location.href='/logout'" style="margin: 20px auto;">Logout</button>
        </div>
        <hr>
    </header>

        <div class="snake-container">

            <div class="leaderboard">
                <p style="font-size: 20px; color: #343a40;">My Highest Score</p>
                <p>@login - <b id="highScore">@str(score)</b></p>
            </div>
            <div class="wrapper">
                <div class="game-details">
                    <span class="score">Score: 0</span>
                    <span class="high-score">High Score: @str(score)</span>
                </div>
                <div class="play-board"></div>
                <div class="controls">
                    <i data-key="ArrowLeft"></i>
                    <i data-key="ArrowUp"></i>
                    <i data-key="ArrowRight"></i>
                    <i data-key="ArrowDown"></i>
                </div>
            </div>

            <div class="leaderboard">
                <p style="font-size: 20px; color: #343a40;">LeaderBoard</p>
                <table>
                @for i in range(len(stats)):

                    <tr>
                        <td>@stats[i][0].replace("'", "&#39;").replace('"', "&quot;").replace(">", "&gt;").replace("<", "&lt;")</td>
                        <td>@str(stats[i][1])</td>
                    </tr>
                @endfor
                    </table>
            </div>
        </div>
    
    
@end