@extends("base.html")
@require(path_for, login, user_rights, all_roles)

@def content():
    <title>Home</title>

    <header>
        <div class="header-area">
            <h1 class="home-btn" style="cursor: default;">@login</h1>
            <button class="logout-btn" id="home-login-btns" onclick="location.href='/logout'" style="margin: 20px auto;">Logout</button>
        </div>
        <hr>
    </header>

    <div style="display: flex; justify-content: center;">
        <div class="dashboard">
            @if "admin" in user_rights or "super" in user_rights :
                <button id="home-login-btns" onclick="location.href='/validator'">VALIDATOR</button>
                @end
            @if "gamer" in user_rights or "super" in user_rights:
                <button id="home-login-btns" onclick="location.href='/games'">Games</button>
                @end
            @if user_rights[0] == 'super':
                <button id="home-login-btns" onclick="location.href='/changerights'">Change Rights</button>
                @end
            @if len(user_rights) < len(all_roles) - 1 and user_rights[0] != "super":
                <button id="home-login-btns" onclick="location.href='/requestrights'">Send Request</button>
        </div>
    </div>
@end
