@require(path_for)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="@path_for('static',path='style.css')" />
    <link rel="stylesheet" href="@path_for('static',path='bootstrap.min.css')">
    @def head_content():
    @end
    @head_content()
  </head>
  <body class="text-center">
      <header class="p-3 bg-dark text-white">
          <div class="ml-0">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                      <li>
                          <a href="/home" class="nav-link px-2 text-white">Home</a>
                      </li>
                  </ul>
                  @def header_content():
                  @end
                  @header_content()
              </div>
          </div>
      </header>
      @def content():
      @end
      @content()
    <script src="@path_for('static', path='bootstrap.bundle.min.js')"></script>
</body>
</html>
