@extends("base.html")
@require(path_for, right, login, requests, roles, rights_model, errors)


@def header_content():
        <a href='/logout' class="btn btn-warning">Logout</a>
@end

@def content():
    <title>Change Rights</title>
    <form action="changerights" method="post" id="role_form" autocomplete="off">
            <table id="score-table" class="table table-lg table-bordered table-striped">
                <thead>
                    <tr>
                        <th><b>Name</b></th>
                        <th><b>Rights</b></th>
                    </tr>
                </thead>
                <tbody>
                @for i in range(len(right)):
                    <tr id="data-tr"><td class="login-td" id="logins@str(i)">@login[i]</td><td class="rights-td" id="td@str(i)">
                    @if "super" in right[i]:
                        <h3 style="margin: 0;">SUPER</h3>
                    @endif
                    @if "super" not in right[i]:
                    <div class="btn-group">
                        <button style="width: 10rem;" class="btn btn-secondary dropdown-toggle position-relative" type="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            Select
                            @if len(requests[i]) >= 1:
                                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"></span>
                            @endif
                        </button>



                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableInside">
                            @for role in roles:
                            @if role != "super":
                            <li class="dropdown-item w-100 h-100 user-select-none">
                                <label class="w-100 form-check-label position-relative">   
                                    @rights_model.rights.checkbox(class="form-check-input mx-1 @role@str(i)")
                                    @role.capitalize()
                                    @if len(requests[i]) >= 1:
                                        @for request in requests[i]:
                                            @if request == role:
                                            <span class="position-absolute start-100 top-50 translate-middle p-2 bg-danger rounded-circle"></span>
                                            @endif
                                        @endfor
                                    @endif
                                    <script>
                                        console.log("@str(login[i])")
                                        document.querySelector(".@role@str(i)").setAttribute("value",'{"@login[i]": "@role"}')
                                        document.querySelector(".@role@str(i)").removeAttribute("checked","checked")
                                    </script>
                                </label>
                            </li>
                            @endif
                            @if len(right[i]) > 1:
                                @for j in range(len(right[i])):
                                    @if right[i][j] == role:
                                            <script>document.querySelector(".@role@str(i)").setAttribute("checked","")</script>
                                            @endif                   
                                @endfor
                            @else:
                            @if right[i][0] == role:
                                <script>document.querySelector(".@role@str(i)").setAttribute("checked","")</script>
                            @endif
                            @endif
                        @endfor
                    </ul>
                </div>
                <!-- <button type="button" class="btn btn-lg btn-primary">Edit</button> -->
                @endif
                </td>
                <!-- <td class="req-td">
                    <div>
                        @if "super" not in right[i]:
                            @if len(requests[i]) >= 1: 
                            <div class="btn-group">
                                <button style="width: 10rem;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                    Request
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableInside">
                                    @for j in range(len(requests[i])):
                                    <li class="dropdown-item w-100 h-100 user-select-none">
                                        <label class="w-100 form-check-label">   
                                            @requests[i][j].capitalize()
                                        </label>
                                    </li>
                                    @endfor
                            @else:
                                <h3 style="margin: 0;">No requests</h3>
                            @endif
                        @endif
                        </ul>
                    </div>
                </td> -->
            </tr>
                @endfor
        </tbody>
        </table>
        <input type="submit" class="btn btn-lg btn-primary" value="Submit">
    </form>
    <script src="@path_for('static',path='changer_rights.js')"></script>
@end