@extends("base.html")
@require(path_for, login)

@def header_content():
        <a href='/logout' class="btn btn-warning">Logout</a>
@end

@def content():


        <div style="display: flex; justify-content: center;">
            <div class="dashboard">
                <section class="p-4 text-center w-100">
                    <a id="home-login-btns" class="btn btn-lg btn-primary me-1" href='/snake'>Snake</a>
                    <a id="home-login-btns" class="btn btn-lg btn-primary me-1" href='/scores'>My scores</a>
                </section>
            </div>
        </div>
@end