@extends("base.html")
@require(path_for)

@def header_content():
<div class="text-end">
    <a type="button" href="/login" class="btn btn-outline-light me-2">Login</a>
    <a type="button" href="/register" class="btn btn-warning">Sign Up</a>
</div>
@end
@def content():
    <title>Home</title>
        <!-- <div class="signin-signup-btns">
            <button id="home-login-btns" onclick="location.href='/login'">Login</button>
            <button id="home-login-btns" onclick="location.href='/register'">Sign Up</button> 
        </div> -->

    
@end